:root{
    --red: #ea6161;
    --yellow: #eebf52;
    --green: #57d257;
    --blue: #61a6ea;
    --white: #f0eeda;
    --Dwhite: #e9d9ad;
    --gray: #252525;
    --Lgray: #858585;
    --Lred: #ea61616b;
    --Lyellow: #eebf5279;
    --Lgreen: #57d2577a;
    --Lblue: #61a6ea77;
}

*{
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    /* display properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* text properties */
    font-family: 'Cutive Mono', monospace;
    font-size: 1.5rem;
    color: var(--gray);
    text-align: center;

    /* dimensions and color */
    min-width: 320px;
    width: 100vw;
    height: 95vh;
    background-color: var(--white);
}



/* introduction page */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 45%;
    width: 100%;
}

.simon{height: 2.5em;}

h2{font-family: 'Rouge Script', cursive;}

ol{
    font-size:60%;
    text-align: left;
    width: 30%;
}

h4{
    font-family: inherit;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
    width: 40%;
    height: auto;
    max-width: 320px;
}

button{
    padding: 2% 0;
    font-family: inherit;
    background: none;
    width: 100%;
    max-width: 320px;
    border: 1px dashed var(--Lgray);
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
}

.restart{
    display: none;
    width: 50%;
    margin-left: 25%;
}

button:hover{background-color: var(--Dwhite);}
button:focus{ outline: none; }

/* main game page */
.main{
    display: grid;
    grid-template-rows: 12.5% 80% 7.5%;
    align-items: end;
    box-sizing: border-box;
    height: 55%;
    width:100%;
    max-width:50%;
}

.colors{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items:center;
    width:100%;
    height: 0;
}

.colors div{
    width:100%;
    height: inherit;
    border: 1px dashed var(--gray);
    cursor: pointer;
}

.keys{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-self: center;
    font-size: 70%;
    width:100%;
}

.keys div{
    cursor: pointer;
    width: 25%;
}

@keyframes jump1{
    100%{
        transform: translate(0, -35vh) rotate(720deg);
    }
}

@keyframes jump2{
    10%{
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }
    100%{
        transform: translate(0, -35vh) rotate(720deg);
        width: 50px;
        height: 50px;
    }
}

@keyframes jump3{
    100%{
        transform: translate(0, -35vh) rotate(720deg);
        width: 75px;
        height: 75px;
        border-radius: 5px;
    }
}

@keyframes jump4{
    100%{
        transform: translate(0,-1vh);
    }
}

@media screen and (max-width: 768px){
    .intro{
        height: 40%;

    }

    ol{
        width: 80%;
        margin: 2%;
    }

    .main{
        max-width: 90%;
        height: 55%;
    }
}

@media screen and (max-width: 480px){
    body{font-size: 1rem;}
    ol{
        margin-left: 10%;
    }
    .intro{
        height: 37%;
    }

    .main{
        height: 58%;
    }
}






